# Artifactory monitoring configuration
scrape_configs:
  - job_name: 'artifactory'
    metrics_path: /metrics/artifactory
    scheme: https
    tls_config:
      insecure_skip_verify: {{ artifactory_tls_skip_verify | default(false) }}
    static_configs:
      - targets:
        - {{ artifactory_server_name }}
        labels:
          instance: artifactory
